form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    width: 100%;
    text-align: center;
    
    input {
        padding: 1% 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
        &[type='submit']{
            border-radius: 20px;
            border: none;
            background-color: #cc4499;
            color: #eee;
            font-size: 1em;
            &:hover{
                background-color: #ddd;
                color: #bb3388;
                cursor: pointer;
            }
        }
    }
    
    textarea{
        width: 100%;
        display: block;
        padding: 5px;
    }
}


