<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <textarea id="url" name="url" value="" placeholder="Enter the URL of the article here ...." rows="1"></textarea>
                    <input type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section class="output">
                <strong>Article Agreement: </strong>
                <span id="agreement"></span>
            </section>
            <section class="output">
                <strong>Article Confidence: </strong>
                <span id="confidence"></span>
            </section>
            <section class="output">
                <strong>Article Irony: </strong>
                <span id="irony"></span>
            </section>
            <section class="output">
                <strong>Article Model: </strong>
                <span id="model"></span>
            </section>
            <section class="output">
                <strong>Article Score Tag: </strong>
                <span id="score"></span>
            </section>
            <section class="output">
                <strong>Article Subjectivity: </strong>
                <span id="subjectivity"></span>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
                
                
                <script>
                 // Check that service workers are supported
                 if ('serviceWorker' in navigator) {
                     // Use the window load event to keep the page load performant
                     window.addEventListener('load', () => {
                         navigator.serviceWorker.register('/service-worker.js');
                     });
                 }
                </script>

    </body>
</html>
